<!DOCTYPE html>
<html>
<head> 
{% block stylesheets %}

    <link href="./view/css/main.css" rel="stylesheet">
{% endblock %}

</head>

<body>
<h1>Do these things:</h1>
<form action="index.php?controller=todo&action=addNewToDo" method="post" enctype="multipart/form-data">
<input type="text" id="name" name="name" placeholder="name" />
<input class="add" type="submit" value="submit" />
</form></li>
<ul id="todo-list">
{% for todo in todos %}
<li id="items" >
   {% if not todo.done  %}
   <a  href="index.php?controller=todocomments&action=index&id={{todo.todoId}}">
   {{ todo.name }}<a/>
   <a href="index.php?controller=todo&action=markAsDone&id={{todo.todoId}}">[DONE]</a> 
   {% else %}
   <del>{{ todo.name }}
   {% endif %}

    <a class="destroy" href="index.php?controller=todo&action=delete&id={{todo.todoId}}">[Delete]</a>
  
   </li>
    
   
{% endfor %}

   <!-- todo , add form for adding new todo-item -->

   <li>
   

</ul>


</body>
</html>
